@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: "DM Sans", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

p {
  font-weight: 500;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding: 0 1rem;

  h1.name {
    font-size: 2rem;
    font-weight: 600;
  }

  .location {
    color: #d2ff72;
    font-weight: 500;
  }

  .description {
    margin-top: 8px;
    color: #cccccc;
  }
}

img {
  object-fit: contain;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.container {
  max-width: 400px;
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #1f1f1f;
  color: white;
  padding: 32px;
  border-radius: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  list-style: none;
  padding: 0;

  li {
    background-color: #333333;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #adff2f;
      color: #333333;
    }
  }

  li a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
  }
}
